<a href="https://colab.research.google.com/github/ferdmartin/LearningLeap/blob/main/knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# KNN

In [ ]:
# Import required libraries
import numpy as np
import pandas as pd

In [ ]:
# Read csv files
train_set = pd.read_csv('train.csv', index_col="id")
test_set = pd.read_csv('test.csv', index_col="id")
# Create X_train, y_train, X_test variables
X_train = train_set.drop("CLASS_LABEL", axis=1)
y_train = train_set["CLASS_LABEL"]
X_test = test_set.copy()

In [ ]:
# Defining KNN function
def KNN(X_train, y_train, X_test,k=3):
    # List to store results
    predictions = []
    for row in range(0, len(X_test)):
        # Euclidean function
        euclidean_distance = np.sum((X_test.iloc[row] - X_train)**2,axis=1)**(1/2)
        euclidean_distance = euclidean_distance.rename("Euclidean_distance")
        # Determine highest voted class
        df = pd.merge(y_train,euclidean_distance, on= "id").sort_values("Euclidean_distance").iloc[:k]
        df["Count"] = 1
        df = df.groupby("CLASS_LABEL").sum().sort_values("Count", ascending=False)
        max_count = max(df.Count)
        # If two or more winning classes receive the same number of votes, we break the tie using the lowest total distance
        if len(df[df["Count"] == max_count]) > 1:
            df = df[df["Count"] == max_count].sort_values("Euclidean_distance")
            prediction = df.sort_values("Euclidean_distance").index[0]
        else:
            prediction = df.index[0]

        predictions.append(prediction)

    return np.array(predictions)

In [ ]:
# Inserting predictions into new columns
X_test["Preds_k1"] = KNN(train_set.drop("ExampleID",axis=1), y_train, test_set.drop("ExampleID",axis=1),k=1)
X_test["Preds_k3"] = KNN(train_set.drop("ExampleID",axis=1), y_train, test_set.drop("ExampleID",axis=1),k=3)
X_test["Preds_k5"] = KNN(train_set.drop("ExampleID",axis=1), y_train, test_set.drop("ExampleID",axis=1),k=5)
X_test["Preds_k7"] = KNN(train_set.drop("ExampleID",axis=1), y_train, test_set.drop("ExampleID",axis=1),k=7)
X_test["Preds_k9"] = KNN(train_set.drop("ExampleID",axis=1), y_train, test_set.drop("ExampleID",axis=1),k=9)

In [ ]:
X_test

,sepal_length,sepal_width,petal_length,petal_width,ExampleID,Preds_k1,Preds_k3,Preds_k5,Preds_k7,Preds_k9
id,,,,,,,,,,
1,6.7,3.1,4.4,1.4,x1,versicolor,versicolor,versicolor,versicolor,versicolor
2,4.4,3.2,1.3,0.2,x2,setosa,setosa,setosa,setosa,setosa
3,5.3,3.7,1.5,0.2,x3,setosa,setosa,setosa,setosa,setosa
4,7.7,2.8,6.7,2.0,x10,virginica,virginica,virginica,virginica,virginica
5,5.1,3.5,1.4,0.2,x11,setosa,setosa,setosa,setosa,setosa
...,...,...,...,...,...,...,...,...,...,...
71,7.3,2.9,6.3,1.8,x146,virginica,virginica,virginica,virginica,virginica
72,4.8,3.0,1.4,0.1,x147,setosa,setosa,setosa,setosa,setosa
73,7.6,3.0,6.6,2.1,x148,virginica,virginica,virginica,virginica,virginica
74,6.5,3.0,5.8,2.2,x149,virginica,virginica,virginica,virginica,virginica
75,5.1,3.3,1.7,0.5,x150,setosa,setosa,setosa,setosa,setosa

In [ ]:
# Saving final dataframe into a new csv file
X_test.to_csv("Results_Fernando_Martinez_CS5790_HW1.csv")